body {
  justify-content: center;
  margin: auto;
  padding: 0;
}

#title {
  text-align: center;
}

#gameBox {
  margin: 50px auto;
  background: yellow;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 330px;
  width: 330px;
  padding: 25px;
  border: 2px solid black;
  border-radius: 15px;
}

.hidden {
  visibility: hidden;
}

.gameCard {
  flex: 1 0 20%;
  background: red;
  border: 1px solid black;
  margin: auto 5px;
  padding: 25px 5px;
}

#score {
  text-align: center;
}

#buttonsContainer {
  margin: 15px;
  background: green;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 15px;
  border: 2px solid black;
  border-radius: 15px;
}

#startButtonContianer,
#replayButtonContianer {
  margin: auto;
}

#startButton,
#replayButton {
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 15px;
}

@media (min-width: 768px) {
  #gameBox {
    margin: auto;
    background: yellow;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    padding: 25px;
    border: 2px solid black;
  }
}

@media (min-width: 1025px) {
  #gameBox {
    margin: auto;
    background: yellow;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    padding: 25px;
    border: 2px solid black;
  }
}
@media (min-width: 2100px) {
  #gameBox {
    margin: auto;
    background: yellow;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    padding: 25px;
    border: 2px solid black;
  }
}
